<launch>
  <arg name="port" default="$(optenv GRIZZLY_PTU_PORT /dev/clearpath/ptu)"/>
  <arg name="limits_enabled" default="$(optenv GRIZZLY_LIMITS_ENABLED false)"/>

  <node name="ptu_driver" pkg="flir_ptu_driver" type="ptu_node" ns="ptu" respawn="true">
    <param name="port" value="$(arg port)" />
    <param name="limits_enabled" value="$(arg limits_enabled)" />
    <remap from="state" to="/joint_states" />
  </node>

</launch>

