<launch>
  <group ns="mcu">
    <!-- Serial connection to MCU -->
    <node pkg="rosserial_server" type="serial_node" name="grizzly_rosserial_server" respawn="true">
      <rosparam>
        port: /dev/arduino
        require:
          publishers: [ status ]
          subscribers: [ ambience, energy, estop, fan ]
      </rosparam>
    </node>
    <node pkg="rosserial_python" type="message_info_service.py" name="grizzly_rosserial_message_info" />

    <!-- Helper nodes -->
    <node pkg="grizzly_base" type="mcu_diagnostics" name="grizzly_mcu_diagnostics" />
    <node pkg="grizzly_base" type="mcu_body_temp_interpreter" name="grizzly_mcu_body_temp" />
  </group>

  <node pkg="grizzly_base" type="energy_estimator" name="grizzly_energy_estimator">
    <param name="battery_string_count" value="$(optenv GRIZZLY_BATTERY_STRINGS 2)" />
  </node>

  <node pkg="grizzly_base" type="fan_control" name="grizzly_fan_control">
    <param name="safe_motor_temp" value="60"/>
    <param name="safe_ch_temp" value="50"/>
    <param name="hyst_size" value="10"/> 
  </node>
</launch>

